# -----------------
# set some hyparameters about 
# the initialization of relavent model and loss func

version: 'v3'
input_shape: [416, 416]
confidence: .5
nms_iou: .3
letterbox_image: False 
classes_path: 'configs/data/voc_classes.txt'

pretrained_weight_path: 'weights/yolov3_coco.pth'

model:
  version: ${detector.version}
  num_classes: 20
  anchors_mask: [[6, 7, 8], [3, 4, 5], [0, 1, 2]]

dataset:
  version: ${detector.version}
  input_shape:  ${detector.input_shape}
  train_data:
    annotation_path: 'datasets/2007_train.txt'
    input_shape: ${detector.input_shape}
    num_classes: ${detector.model.num_classes}
    train: True
    epoch_length: ${exp.max_epoch}
    mosaic: True 
    mixup: True 
  val_data:
    annotation_path: 'datasets/2007_val.txt'
    input_shape: ${detector.input_shape}
    num_classes: ${detector.model.num_classes}
    train: False 
    # epoch_length: 1
    mosaic: False
    mixup: False

bbox:
  version: ${detector.version}
  num_classes: ${detector.model.num_classes}
  input_shape:  ${detector.input_shape}
  anchors_path: "configs/detector/v3/yolo_anchors.txt"

loss:
  version: ${detector.version}
  anchors_path: ${detector.bbox.anchors_path}
  num_classes: ${detector.model.num_classes}
  input_shape: ${detector.input_shape}
  cuda: True  # 默认使用 GPU，所以 省事设置了True
  anchors_mask: ${detector.model.anchors_mask}
