# -----------------
# set some hyparameters about 
# the initialization of relavent model and loss func

version: 'v3'

num_classes: 80 
anchors_mask: [[6, 7, 8], [3, 4, 5], [0, 1, 2]]

bbox:
  version: ${version}
  num_classes: ${num_classes}
  input_shape: [416, 416]
  anchors_mask: ${anchors_mask}

loss:
  version: ${version}
  anchors_path: "configs/model/v3/yolo_anchors.txt"
  num_classes: ${num_classes}
  input_shape: ${bbox.input_shape}
  cuda: True  # 默认使用 GPU，所以 省事设置了True
  anchors_mask: ${anchors_mask}
